numpy<2
torch
torchaudio
torchvision
librosa
pandas
tqdm
huggingface_hub
einops
pyloudnorm
scipy
sounddevice
phonemizer
soundfile
matplotlib
speechbrain==0.5.15
networkx
praat-parselmouth
pypinyin
dragonmapper
epitran
geopy
gradio
torch_complex
alias_free_torch
cvxopt
dotwiz
transphone